@charset "UTF-8";
/* CSS Document */

h1 {font-family: 'Abril Fatface', cursive;}
body{font-family: 'Source Sans Pro', sans-serif;}

/* nav list */
ul { list-style-type: none;
margin:0;
padding: 0;}

/* unvisited link */
a:link {
  color:black;
    text-decoration:underline;
}

/* visited link */

a:visited
{color: black;
text-decoration:underline;
}


/* mouse over link */
a:hover 
{color:mediumpurple;
}


/*Homepage Sidebar*/
#left 
{width: 50%;
float: left;
box-sizing: border-box;
}

/*Food Video*/

#right {
float: right;
}
 
body
{background-color: gainsboro;
}

/*sidebar*/

 #side 
 {width: 33.3%;
float: left
 }


/*content*/

#content {width: 66.6%;
float: right;
column-count: 3;

}

#contactleft
{float: left;
width: 50%;}

#contact
{float: right;
  width: 50%;
text-align: center;
text-decoration: none;}