@charset "UTF-8";
/* CSS Document */

h1 {font-family: 'Abril Fatface', cursive;
color: white;}
body{font-family: 'Source Sans Pro', sans-serif;
color: white;}

/* nav list */
ul { list-style-type: none;
margin:0;
padding: 0;}

/* unvisited link */
a:link {
  color:white;
    text-decoration:underline;
}

/* visited link */

a:visited
{color:white;
text-decoration:underline;
}


/* mouse over link */
a:hover 
{color:mediumpurple;
}


/*Homepage Sidebar*/
#left 
{width: 45%;
float: left;
box-sizing: border-box;}

/*Food Video*/

#right {
float: right
; width: 50%;
}
 
#bg {
background-color: black
}

img {padding: 2px;
}

/*sidebar*/

 #side 
 {width: 28%;
float: left;
position: fixed;
top:auto;
 }


/*content*/

#content {width: 70%;
float: right;
column-count: 3;
margin-right: 15px;
column-gap: 0px;
background-color: black;
}

/*contact page*/

#contactdiv
{background-color: black;
}


#contactleft
{float: left;
width: 50%;
position:fixed;}

#contact
{float: right;
  width: 50%;
text-align: center;
text-decoration: none;}